<%- include('templates/header.ejs',{titulo:'Not Found'})  %> 
<div>
    <br><br><br>
</div>
<h1 class="text-center">404 No Existe el Recurso Solicitado</h1>
<h2>Banco del Austro</h2>
<%- include ('templates/footer.ejs') %> 